/*configurações gerais*/
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');


@font-face {
    font-family: 'Bimbo';
    src: url('assets/bimbo/Bimbo\ Ballpoint\ Trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "Rubik", sans-serif;
}

/*scrollbar*/
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: rgb(235, 235, 235);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(155, 155, 155);
    border-radius: 0.3rem;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 85, 85);
}

/*cor fundo selecionado*/
::selection{
    background-color: rgb(170, 207, 255);
}

body{
    padding-top: 2.5rem;
    width: 100%;
    overflow-x: hidden;
}

main{
    display: block;
}

section{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

/*seções centralizadas*/
.section-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.div-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
    margin-top: 4.5rem;
}

/*seções inline*/
.section-inline{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    font-size: clamp(1em, 1.25vw, 1.5rem);
    padding: 0.5rem;
    text-align: justify;
    text-indent: 1rem;
    margin-top: 0.5rem;
}

p strong{
    font-weight: bold;
}

h3{
    font-size: clamp(1.25em, 1.5vw, 2rem);
    font-family: "Arbustus Slab", serif;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 4rem;
}

img{
    width: clamp(10rem, 20vw, 30rem);
}

.txt{
    width: clamp(30rem, 40vw, 50rem);
}