/* reset.css - Reset moderno e acessível */

/* 1) Box sizing padrão */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2) Remover margens/padding padrão */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}

/* 3) Configurações base do HTML e BODY */
html, body {
  height: 100%;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: inherit;
  font-family: inherit;
  background: none;
}

/* 4) Tipografia: listas e quotes */
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before, q::after {
  content: "";
  content: none;
}

/* 5) Tabelas */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 6) Imagens e mídia */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 7) Links e botões */
a {
  text-decoration: none;
  color: inherit;
}
button, input, select, textarea {
  font: inherit; /* herdando fonte remove inconsistências */
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
}

/* 8) Preserve acessibilidade: foco visível */
:focus {
  outline: none;
}
:focus-visible {
  outline: 2px solid Highlight;
  outline-offset: 2px;
}

/* 9) Utilitários mínimos */
.hidden {
  display: none !important;
}
.visually-hidden {
  position: absolute !important;
  width: 1px; height: 1px;
  padding: 0; margin: -1px;
  overflow: hidden; clip: rect(0 0 0 0);
  white-space: nowrap; border: 0;
}