@charset "UTF-8";

.nav-txt{
    display: none;
}

.nav-txt.ativo{
    display: block;
}

nav{
    display: flex;
    flex-direction: row;
}

.btn-cor{
    width: clamp(2rem, 5vw, 6rem);
    height: clamp(1rem, 2vh, 3rem);
    border: 0;
    display: flex;
}

.btn-cor.ativo{
    background-color: rgb(180, 149, 107);
}

#btn-preto{
    border-radius: 50em 0 0 50em;
    background-color: rgb(14, 14, 14);
    box-shadow: 5px 0 5px -5px #333;
}

#btn-cinza{
    background-color: rgb(99, 99, 99);
}

#btn-prata{
    background-color: rgb(192, 192, 192);
}

#btn-branco{
    background-color: rgb(255, 255, 255);
}

#btn-verde{
    background-color: rgb(40, 112, 40);
}

#btn-azul{
    background-color: rgb(10, 93, 187);
}

#btn-roxo{
    background-color: rgb(97, 14, 165);
}

#btn-rosa{
    background-color: rgb(209, 64, 185);
}

#btn-vermelho{
    background-color: rgb(192, 19, 19);
}

#btn-laranja{
    background-color: rgb(245, 124, 10);;
}

#btn-amarelo{
    background-color: rgb(248, 212, 9);
}

#btn-dourado{
    background-color: rgb(211, 175, 55);
}

#btn-bege{
    background-color: rgb(194, 151, 95);
}

#btn-marrom{
    border-radius: 0 50em 50em 0;
    background-color: rgb(97, 53, 11);
}

#txt-cores{
    background-color: aqua;
    width: clamp(25rem, 60vw, 80rem);
    height: clamp(20rem, 30vw, 40rem);
}

.list-txt{
    font-size: clamp(1.5em, 1.75vw, 2rem);
}